.row
  .columns.small-12.medium-6.medium-offset-3.large-4.large-offset-4
    %h2 
      Edit 
      = resource_name.to_s.humanize
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
        = devise_error_messages!
        .row
          .columns.small-12.medium-3
            = f.label :fname , "First Name" 
          .columns.small-12.medium-9
            = f.text_field :fname, autofocus: true 
        .row
          .columns.small-12.medium-3
            = f.label :lname, "Last Name" 
          .columns.small-12.medium-9
            = f.text_field :lname 
        .row
          .columns.small-12.medium-3
            = f.label :email
          .columns.small-12.medium-9
            = f.email_field :email
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div Currently waiting confirmation for: <%= resource.unconfirmed_email 
        .row
          .columns.small-12.medium-3
            = f.label :password 
          .columns.small-12.medium-9
            = f.password_field :password, autocomplete: "off", placeholder: "(leave blank if you don't want to change it)"
        .row
          .columns.small-12.medium-3
            = f.label :password_confirmation 
          .columns.small-12.medium-9
            = f.password_field :password_confirmation, autocomplete: "off"

        .row
          .columns.small-12.medium-3
            = f.label :current_password 
          .columns.small-12.medium-9
            = f.password_field :current_password, autocomplete: "off", placeholder: "(we need your current password to confirm your changes)"
        .row
          .columns.small-3.small-offset-3
            = f.submit "Update", :class => "button"

- if false
  %h3 Cancel my account
  %p 
    Unhappy? 
    = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button" 
= link_to "Back", :back 
