

<div class="row">
  <div class="small-12 medium-4 columns">
    <div id="drink-picture">
      Drink Picture
    </div>
  </div>
  
  <div class="small-12 medium-8 columns">
    <div class="row">
      <div class="small-12 columns">
        <% if recipe.errors.any? %>
          Something's wrong. Please fix this to continue<br/>
          <% recipe.errors.full_messages.each do |msg| %>
            <%= msg %><br/>
            <% end %>
        <% end %>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <H1> Make your drink</H1><br/>
      </div>
    </div>
    <div class="row" data-equalizer>
      
      <%= form_for recipe do |f| %>

      <div class="small-12 medium-4 columns">
        <%= f.label :name, "Drink Name" %>
      </div>
      
      <div class="small-12 medium-8 columns">
        <%= f.text_field :name %>
      </div>
      
      <div class="small-12 columns">
        <%= f.label :desc, "Tell me about it" %>
        <%= f.text_field :desc %>
      </div>
      
      <div class="small-12 medium-12 columns">
        Now, whats it got in it? <br/>
        Using ml. there are 45 ml in a shot, and room for about 250 ml in a glass with ice
        <div class="row" >
          <div id="ingredient-list" data-equalizer>
            <%= f.fields_for :amounts do |a| %>
              <div class="small-6 medium-4 large-3 column " data-equalizer-watch>
                <div class = "row ingredient ">
                  <div class="columns small-12 ingredient-select button height-fix">
                    <%= a.label :ml, a.object.name %>
                    <%= a.text_field :ml, :placeholder => "amount in ml" %>
                    <%= a.hidden_field :ingredient_id %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div><%# end ingredient list %>
      </div>
      
      <div class="small-12 medium-6 columns">
        Special instructions:
      </div>
      
      <div class="small-12 medium-6 columns">
        <%= f.text_field :instructions %>
      </div>
      
      <div class="small-12 medium-6 columns text-center">
        <%= f.submit "Make it!",  :class => "button success" %>
      </div>
      
      <div class="small-12 medium-6 columns text-center">
        <%= link_to "Nevermind, take me back", recipes_path(), :class => "button alert", :remote => true %>  
      </div>
      
      <% end %>

    </div>
  </div>
</div>