
<% recipes.each do |recipe| %>
<div class="recipe-listing small-10 small-offset-1 medium-4 medium-offset-0 large-3 columns " data-equalizer-watch>
  <a href="<%= recipe_url recipe.id %>" class="button">
    <div class = "row height-fix">
      <div class= "columns small-12">
        <H3><%= recipe.name %></H3>
      </div>
      <div class= "columns small-12 ">
        by <%= User.find(recipe.user_id).fname %>
      </div>
      <div class= "columns small-12">
        <%= recipe.desc %>
      </div>
      <div class= "columns small-12">
        Make it: <%= recipe.instructions %>
      </div>
    </div>
  </a>
</div>
<% end %>
