
<% recipes.each do |recipe| %>
<div class="recipe-listing small-10 small-offset-1 medium-4 medium-offset-0 large-3 columns end" data-equalizer-watch>
  <a href="<%= recipe_url recipe.id %>" class="button rainbow">
    <div class = "row height-fix">
      <div class= "columns small-12">
        <H3><%= recipe.name %></H3>
      </div>
      <div class= "columns small-12 ">
        by <%= recipe.username %>
      </div>
      <div class= "columns small-12">
        <%= recipe.desc %>
      </div>
      <div class= "columns small-12">
        Make it: <%= recipe.instructions %>
      </div>
      <div class= "columns small-12 votes">
        
      </div>
    </div>
    
  </a>
    <div class = "row">
    <a href=# class= "columns small-4 upvote" data-id="#{<%= recipe.id %>}" data-remote="true">
      upvote
    </a>
    <div class= "columns small-4 rating" data-id=<%= recipe.id %>>
      Rating:
      <%= recipe.rating || "0" %>
    </div>
    <a href="#" class="columns small-4 downvote" data-id="#{<%= recipe.id %>}" data-remote="true">
      downvote
    </a>
  </div>
</div>
<% end %>
