<div class="row">
  <div class="small-12 columns">
    
  </div>
</div>
<div class="row">
  <div class="small-12 medium-4 columns">
    <div id="drink-picture">
      Drink Picture Goes Here
    </div>
  </div>
  
  <div class="small-12 medium-8 columns">
    <div class="row" data-equalizer>
      
      <%= form_for @recipe do |f| %>

      <div class="small-12 medium-4 columns">
        <%= f.label :name, "Drink Name" %>
      </div>
      <div class="small-12 medium-8 columns">
        <%= f.text_field :name %>
      </div>
      <div class="small-12 columns">
        <%= f.label :desc, "Tell me about it" %>
        <%= f.text_field :desc %>
      </div>
      <div class="small-12 medium-12 columns">
        Now, whats it got in it?<br/>
        <div class="row" >
          <div id="ingredient-list" data-equalizer>
            <% @ingredients.each do |i| %>
            
            <div class="small-6 medium-4 large-3 column " data-equalizer-watch>
              <%= check_box_tag 'recipe[ingredient_ids][]', i.id, @recipe.ingredient_ids.include?(i.id), :hidden => true %>
              <div class = "row ingredient ">
                <div class="columns small-12 ingredient-select button height-fix">
                  <%= i.name %>
                  <%= text_field_tag "amount[#{i.id}]",nil, placeholder: 'Amount', class: "amount-input"%>
                </div>
                <div class="columns small-12 ingredient-select ">
                  <%# code for setting the amount here %>
                  
                </div>
              </div>
              
            </div>
                  
            <% end %>
            <div class="small-6 medium-4 large-3  column" data-equalizer-watch>
              <div class="row ingredient ">
                <div class="columns small-12 button height-fix">
                  New Ingredient
                </div>
              </div>
            </div>
          </div>
        </div><%# end ingredient list %>
        
      </div>
      <div class="small-12 medium-6 columns">
        And how do you put those together?
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.text_field :instructions %>
      </div>
      <div class="small-12 medium-6 columns">
        
        
        
        
        <%= f.submit %>
      </div>
      <% end %>

    </div>
  </div>
</div>