<div class="row">
  <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-4 columns">

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-12 medium-3 columns">
        <%= f.label :email %><br />
      </div>
      <div class="small-12 medium-9 columns">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-3 columns">
        <%= f.label :password %><br />
      </div>
      <div class="small-12 medium-9 columns">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="row">
      
      <div class="small-12 columns">
        <%= f.submit "Log in", :class => "button" %>
      </div>
    </div>
    <% end %>
    <div class="row">
      
      <div class="small-12 columns">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
  

